<?xml version="1.0"?>
<!-- 
  FANUC焊接状态监控Launch文件
  连接到KAREL程序ros_weld_state_reader.kl获取焊接状态数据
-->
<launch>
  <!-- 机器人IP地址 -->
  <arg name="robot_ip" default="127.0.0.1" doc="机器人控制器IP地址" />
  
  <!-- 焊接状态通信端口 -->
  <arg name="robot_port" default="11002" doc="KAREL程序TCP端口" />

  <!-- 调试输出开关 -->
  <arg name="debug" default="false" doc="启用调试输出" />
  <!-- 消息字节序: little 或 big -->
  <arg name="byte_order" default="little" doc="消息字节序 (little 或 big)" />

  <!-- 发布Topic名称 -->
  <arg name="weld_state_topic" default="/weld_state" doc="焊接状态话题名称" />

  <!-- 选择节点类型: tcp 或 simple -->
  <arg name="node_type" default="simple" doc="节点类型: tcp (直接TCP连接) 或 simple (Simple Message协议)" />

  <!-- TCP版本焊接状态节点 (直接TCP连接) -->
  <node if="$(eval arg('node_type') == 'tcp')" 
        name="fanuc_weld_state_node" pkg="fanuc_driver" type="fanuc_weld_state_node_tcp" output="screen">
    <param name="robot_ip" value="$(arg robot_ip)" />
    <param name="robot_port" value="$(arg robot_port)" />
    <param name="debug" value="$(arg debug)" />
    <param name="byte_order" value="$(arg byte_order)" />
    <remap from="/weld_state" to="$(arg weld_state_topic)" />
  </node>

  <!-- Simple Message版本焊接状态节点 (ROS-Industrial协议) -->
  <node if="$(eval arg('node_type') == 'simple')" 
        name="fanuc_weld_state_node" pkg="fanuc_driver" type="fanuc_weld_state_node_simple" output="screen">
    <param name="robot_ip" value="$(arg robot_ip)" />
    <param name="robot_port" value="$(arg robot_port)" />
    <param name="debug" value="$(arg debug)" />
    <param name="byte_order" value="$(arg byte_order)" />
    <remap from="/weld_state" to="$(arg weld_state_topic)" />
  </node>

  <!-- 可选: 显示焊接状态数据到终端 -->
  <node if="$(arg debug)" name="weld_state_echo" pkg="rostopic" type="rostopic" 
        args="echo $(arg weld_state_topic)" output="screen" />
        
  <!-- 可选：记录焊接状态数据 -->
  <node if="$(arg debug)" name="weld_state_recorder" pkg="rosbag" type="record" 
        args="$(arg weld_state_topic) -o /tmp/weld_state" output="screen" />
</launch> 